body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* font-family: 'Raleway', sans-serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  /* margin:0; */
  /* background-color:#191919; */
  /* min-height:100vh; */
  /* display:flex; */
  align-items:center;
  justify-content:center;
  /* font-family:Helvetica,Sans-serif; */
}
a {
  text-decoration:none;
  font-size: 3rem;
  /* color:#FFF; */
}
.rainbow-button {
  width:calc(20vw + 6px);
  height:calc(8vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  /* display:flex; */
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:2vw;
  font-weight:bold;
  padding: 1.5rem;
  /* box-shadow: #00C0FF; */
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
  box-shadow: 10px 5px 5px rgb(133, 123, 123);

}
/* .rainbow-button:after {
  content:attr(alt);
  width:20vw;
  height:8vw;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
} */
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}